.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
}
.html {
    scroll-behavior: smooth;
}

.header {
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;

}
.nav-link {
    text-decoration: none;
    color: gold;
    transition: color 0.5s;
    padding: 30px;
}
.icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.contacts {
    background-color: gold;
    color: black;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    width: 50%;
}
.left_column {
    width: 40%;
    color: white;
    background-color: #2c323d;
}
.right_column  {
    width: 60%;
    color: white;
    background-color: #2c323d;
}
.photo {
    width: 40%;
}
.heading-1{
    font-size: 350%!important;
    line-height: 120%!important;
}
.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    max-width: 1440px;
    margin: 0 auto;

}
.footer__rsschool {
    width: 32px;
    height: auto;
    background-color: gray;

}
.footer__github {
    text-decoration: none;
    color: gold;
    transition: color 0.5s;
    padding-left: 20px;
}
.footer__year {
    color: gold;
    padding-right: 20px;
}